<%
# Your code here!

#各種ライブラリを読み込む
require 'net/http'
require 'json'
require 'uri'

#uriライブラリ>URIモジュール
#該当するインスタンスを生成して返す
uri = URI.parse("https://weather.tsukumijima.net/api/forecast/city/220010")
# => #<URI::HTTP http://hoge.com>

#net/httpライブラリ>Net::HTTPクラス
#URL先にGETリクエストを送り、そのボディを"文字列"として返す。
json = Net::HTTP.get(uri)

#josonライブラリ>JSONモジュール
#取得したJSON形式の文字列を、Rubyオブジェクトに変換して返す
weather = JSON.parse(json)

#p news["articles"][0]["title"]

#p news["articles"][0]["description"]
logger.debug(weather["forecasts"][0])
%>
<ul class="list-group">
    <li class="list-group-item"><h2><%= weather["title"] %></h2></li>
    <li class="list-group-item"><%= weather["forecasts"][0]["date"] %><img src="<%= weather["forecasts"][0]["image"]["url"] %>"><%= weather["forecasts"][0]["image"]["title"] %></li>
    <li class="list-group-item"><%= weather["forecasts"][1]["date"] %><img src="<%= weather["forecasts"][1]["image"]["url"] %>"><%= weather["forecasts"][1]["image"]["title"] %></li>
    <li class="list-group-item"><%= weather["forecasts"][2]["date"] %><img src="<%= weather["forecasts"][2]["image"]["url"] %>"><%= weather["forecasts"][0]["image"]["title"] %></li>
</ul>