<div id="loading">
      <div id="loading_box">
        <div class="loading-one animation_loading">
          <p class="loading-txt">Loading</p>
        </div>
      </div>
    </div>
<div  class=" pt-5">
    <div>
        <h1 class="text-center text-white f_h1">就活で得た情報を蓄積していこう</h1>
        <p class="text-center text-white">後で見返した時に自分の力に、他の人の力に</p>
        <div class="h-100 pt-5 main"><%= link_to companies_path,class:"btn bg-light text-dark  h-50 bg-info d-flex align-items-center justify-content-center rounded-pill" do %><span class="font"><i class="fas fa-laptop"></i>情報登録</span><% end %></div>
    </div>
    <div class=" mt-5 main">
        <div class="stepbox">
            <%=  render 'newsAPI' %>
        </div>
        <div class="stepbox">
            <div class="sidebar ">
               <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Asia%2FTokyo&src=ajE5MDE1QHNhbmdpLmpw&src=Y191YjRjYmlzdm5yMjZwbHQzbzA1ZTVmYTRmNEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=amEuamFwYW5lc2UjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23039BE5&color=%233F51B5&color=%230B8043" style="border:solid 1px #777" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
            </div>
           <div class="sidebar pt-1">
                <ul class="list-group">
                    <li class="list-group-item text-center"><h2 class="h_3">おすすめ就活サイト</h2></li>
                    <li class="list-group-item"><a href="https://job.mynavi.jp" class="text-dark"style="text-decoration: none;"><%= image_tag "mainavi.png", size: "50x50" %><span class="rec">マイナビ</span></li></a>
                    <li class="list-group-item"><a href="https://job.rikunabi.com/2023/" class="text-dark"style="text-decoration: none;"><%= image_tag "rikunabi.png", size: "50x50" %><span class="rec">リクナビ</span></li></a>
                    <li class="list-group-item"><a href="https://ssl.at-s.com/shinsotsu/2023/gakusei/gakindex.aspx?nen=2023" class="text-dark"style="text-decoration: none;"><%= image_tag "kandume.png", size: "50x50" %><span class="rec">新卒の缶詰</span></li></a>
                    <li class="list-group-item"><a href="https://offerbox.jp/" class="text-dark"style="text-decoration: none;"><%= image_tag "offerbox.png", size: "50x50" %><span class="rec">オファーボックス</span></li></a>
                    <li class="list-group-item"><a href="https://engineer-shukatu.jp/column/archives/38729" class="text-dark"style="text-decoration: none;"><%= image_tag "engneer.png", size: "50x50" %><span class="rec">エンジニア就活</span></li></a>
                    <li class="list-group-item"><a href="https://rookie.levtech.jp/" class="text-dark"style="text-decoration: none;"><%= image_tag "revatec.png", size: "50x50" %><span class="rec">レバテック</span></li></a>
                </ul>
            </div>
        </div>
    </div>
</div>
