<div id="app2" class="pt-5 mb-1" style="background-attachment: fixed;">
    <div id="manu" class="text-center">
        <div>
            <ul class="list-group pb-5">
                <li class="list-group-item">
                    <h1 class="text-center text-dark pt-4 title font-weight-bold">使い方マニュアル</h1><br>
                </li>
                <li class="list-group-item">
                    <h2 class="text-center text-dark pt-4 title">【情報入力～情報確認】</h1><br>
                </li>
                <li class="list-group-item">
                    <p class="text-dark pt-2 pl-4 font-note">１．トップページにある右のボタンをクリック！</li>
                <li class="list-group-item">
                    <%= image_tag "button.PNG" %></p>
                </li>
                <li class="list-group-item">
                    <p class="text-dark pt-2 pl-4 font-note">２．探している企業を検索！</li>
                <li class="list-group-item">
                    <%= image_tag "kensaku.PNG" %></p>
                </li>
                <li class="list-group-item">
                    <p class=" text-dark pt-2 pl-4 font-note">※企業が見つからない場合は下にある企業登録を見てね！</p>
                </li>
                <li class="list-group-item">
                    <p class=" text-dark pt-2 pl-4 font-note">３．情報を入力したい企業を選択！</li>
                <li class="list-group-item">
                    <%= image_tag "kensakuresult.PNG" %></p>
                </li>
                <li class="list-group-item">
                    <p class="  text-dark pt-2 pl-4 font-note">４．情報を入力して登録をクリック！ </li>
                <li class="list-group-item">
                    <%= image_tag "input.PNG" %></p>
                </li>
                <li class="list-group-item">
                    <p class="  text-dark pt-2 pl-4 font-note">新規入力完了の文字が出たら完了！</p>
                    <p class=" text-dark pt-2 pl-4 font-mini">※ 人数・資本金・初任給・平均年収は数字のみ入力してください。 </p>
                </li>
                <li class="list-group-item">
                    <p class=" text-dark pt-2 pl-4 font-mini">５．右上のマイページを押してマイページへ飛ぼう！</li>
                <li class="list-group-item">
                    <%= image_tag "click.PNG" %></p>
                </li>
                <li class="list-group-item">
                    <p class=" text-dark pt-2 pl-4 font-mini">６．マイ企業テーブルをクリック！</li>
                <li class="list-group-item">
                    <%= image_tag "mypage_table.PNG" %></p>
                </li>
                <li class="list-group-item">
                    <p class=" text-dark pt-2 pl-4 font-mini">７．表形式で見れる！！</li>
                <li class="list-group-item">
                    <%= image_tag "des.PNG",size:'700x200' %></p>
                </li>
                <li class="list-group-item">
                    <h2 class="text-center text-dark pt-4 title">【企業登録】</h1>
                </li>
                <li class="list-group-item">
                    <p class=" text-dark pt-5 pl-4 font-note">１．企業新規登録をクリック！</li>
                <li class="list-group-item">
                    <%= image_tag "add.PNG" %></p>
                </li>
                <li class="list-group-item">
                    <p class=" text-dark pt-5 pl-4 font-note">２．企業名と業界を選択して登録をクリック！</li>
                <li class="list-group-item">
                    <%= image_tag "company_reg.PNG" %></p>
                </li>
                <li class="list-group-item">
                    <p class=" text-dark pt-5 pl-4 font-note">ここまできたら完了！ 上の「情報入力～情報確認」を見てね！ </p>
                </li>
                <li class="list-group-item">
                    <h2 class="text-center text-dark pt-4 title">【ユーザ情報編集】</h1><br>
                </li>
                <li class="list-group-item">
                    <p class=" text-dark pt-5 pl-4 font-note">１．マイページのユーザ情報編集をクリック！</li>
                <li class="list-group-item">
                    <%= image_tag "edit.PNG" %></p>
                </li>
                <li class="list-group-item">
                    <p class=" text-dark pt-5 pl-4 font-note">２．編集したいユーザ情報を編集してUpdateをクリック！</li>
                <li class="list-group-item">
                    <%= image_tag "editer.PNG" %></p>
                </li>
                <li class="list-group-item">
                    <div>
                        <%= link_to "トップへ戻る",home_about_path,class: "btn btn-info btn-lg" %>
                    </div>
                </li>
            </ul>
            
        </div>
    </div>
</div>