<!DOCTYPE html>
<html lang="ja">
    <head>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <script src="https://kit.fontawesome.com/8b9bdb18a5.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@700&display=swap" rel="stylesheet">
    </head>
    
    <body class="w-200" >
        <% require 'date' %>
        <div >
            <table class="table table-striped">
                <tr>
                    <th>会社名</th>
                    <th>業種</th>
                    <th>人数(人)</th>
                    <th>資本金(万)</th>
                    <th>初任給(円)</th>
                    <th>平均年収(円)</th>
                    <th>選考状況</th>
                    <th>会社のHP</th>
                    <th>ID</th>
                    <th>PASS</th>
                    <th>テスト形式</th>
                    <th>ES締切</th>
                    <th>テスト締切</th>
                    <th>編集</th>
                    <th>削除</th>
                </tr>
                <% @company_info.each do |f| %>
                        <tr>
                            <td><%= f.company.name %></td>
                            <td><%= f.company.kind %></td>
                            <td><%= f.people %></td>
                            <td><%= f.capital %></td>
                            <td><%= f.fast_money %></td>
                            <td><%= f.avg_money %></td>
                            <td><%= f.selection %></td>
                            <td>
                                <% if f.hp!=nil && f.hp!="" %>
                                    <a href="<%= f.hp %>">HP </a> 
                                <% else %> 
                                    HP
                                <% end %>
                            </td>
                            <td><%= f.intern_id %></td>
                            <td><%= f.intern_pass %></td>
                            <td><%= f.test %></td>
                            <% require 'date' %>
                            <td><%= f&.finish_es_day&.strftime("%Y/%m/%d") %></td>
                            <td><%= f&.finish_test_day&.strftime("%Y/%m/%d") %></td>
                            <td><%= link_to "編集",company_path(f.company.id),class:"btn btn-success" %></td>
                            <td><%= link_to "削除", company_company_info_path(f.company.id,f.id),class:"btn btn-danger",method: :delete,data: {confirm: "削除しますか?"} %></td>
                        </tr>
                <% end %>
            </table>
            <%= paginate @company_info  %>
        </div>
        
        <div>
            <div><%= link_to "ES締め切り並び替え",day_sort_company_path,class:"btn btn-secondary btn-lg ml-5 mb-5" %></div>
            <div><%= link_to "TOPへ戻る",root_path,class:"btn btn-secondary btn-lg ml-5",data: {"turbolinks" => false} %></div>
        </div>
    </body>
</html>

