<div>
    <div class="p-5">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div  class="col-md-12 bg-light p-5 circle">
                    <div class="col-md-12 text-center text-light">
                        <div>
                            <h1 class="text-dark f_h1">イベント投稿</h1>
                            <hr/>
                            <div class="text-danger w-100">
                                
                                <% if @event.errors.any? %>
                                    <% @event.errors.full_messages.each do |message| %>
                                    <div class="h_4 text-center m-auto">・<%= message %></div>
                                    <% end %>
                                <% end %>
                            </div>
                        </div>
                        <div class="mt-2">
                            <%= form_with model:@event ,local:true do |f| %>
                            
                                <h2 class="pt-5 text-dark h_3">タイトル</h2>
                                <%= f.text_field :title,class:"text-center w-75" %>
                                
                                <h2 class="pt-5 text-dark h_3">イベントジャンル</h2>
                                <%= f.select :event, [["イベント", "イベント"], ["開発", "開発"], ["個別面談", "個別面談"],["GD練習", "GD練習"],["その他", "その他"]], include_blank: "選択して下さい" %>
                                
                                <h2 class="pt-5 text-dark h_3">内容</h2>
                                <%= f.text_area :contents,class:"text-center w-75" %>
                                
                                <h2 class="pt-5 text-dark h_3">連絡先</h2>
                                <%= f.select :address_type, [["Twitter", "Twitter"], ["Instagram", "Instagram"], ["メールアドレス", "メールアドレス"]], include_blank: "選択して下さい" %>
                                
                                <h2 class="pt-5 text-dark h_3">連絡先アドレス</h2>
                                <%= f.text_field :address,class:"text-center w-75" %>
                                
                                <h2 class="pt-5 text-dark h_3">募集人数</h2>
                                <%= f.text_field :join,class:"text-center w-75" %>
                                
                                <h2 class="pt-5 text-dark h_3">締切日</h2>
                                <%= f.date_field :deadline,class:"text-center w-75" %>
                                
                                <br/>
                                <%= f.submit "登録" ,class:"mt-5 btn btn-secondary btn-lg" %>
                            
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
