
<div class="p-5">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div  class="col-md-12 bg-white p-5 circle mt-5">
                <div class="col-md-12 ">
                    <div class="text-center text-dark">
                        <body>
                            <!-- モーダルを開くボタン・リンク -->
                            <div class="container">
                                    <h1 class="text-center">イベント</h1>
                                <hr/>
                                <% @event.each do |f| %>
                                    <div class="row mb-5">
                                        <div class="col-12">
                                            <button type="button" class="btn btn-light border border-dark mb-12 w-100" data-toggle="modal" data-target="#testModal<%=f.id%>"><%= f.title %><br><%=f.deadline.strftime("%m月%d日").to_s%><%="　"%><%=f.event%></button>
                                        </div>
                                    </div>
                                
                        
    <!-- ボタン・リンククリック後に表示される画面の内容 -->
                                    <div class="modal fade" id="testModal<%=f.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" >
                                        <div class="modal-dialog center-modal" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4><%=f.title%></h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="text-left">
                                                        <table class="table table-borderless">
                                                            <tr>
                                                                <td><%="締切日："+f.deadline.strftime("%m月%d日").to_s %></td>
                                                                <td><%="ジャンル："+f.event %></td>
                                                            </tr>
                                                        </table>
                                                        
                                                    </div>
                                                    <div class="text-left pl-12">
                                                        <label><%= f.contents %></label>
                                                    </div>
                                                </div>
                                                
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                                                    <% if current_user.id==f.user_id or current_user.name=="root" %>
                                                        <%= link_to '削除', event_path(f.id),class:"btn btn-danger", method: :delete,data: {confirm: "削除しますか？"} %>
                                                    <%end%>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <%end%>
                                <div class="mt-5"><%= link_to "イベントを作成する",events_path,class:"btn btn-secondary ml-5　ml_5" %></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    
</html>