<h1>企業選択ページ</h1>

<h2><%= flash[:notice]%></h2>

<hr/>
<% if @company.nil? %>
    <%= form_with url:company_search_path ,local:true do |f| %>
        <%= f.text_field :name %>
        
        <%= f.submit '検索' %>
    <% end %>
<% else %>
    <% @company.each do |list| %>
        <%= link_to company_path(list.id) do %> 
            <p>企業名:<%= list.name %></p>
        <% end %>
    <% end %>
    
    <%= link_to "検索し直す",companies_path %>
<% end %>
<hr/>

<%=  link_to "新規登録",new_company_path %>


<%= link_to "TOP画面へ戻る",home_about_path %>