<div id="app">
    <div class="p-5" style="height:1000px">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div  class="col-md-12">
                    <div class="col-md-12 text-center text-light" style="height:700px">
                        <div>
                            <h1 >企業登録</h1>
                            <div class="text-danger">
                                <% if @company.errors.any? %>
                                    <%= @company.errors.full_messages %>
                                <% end %>
                            </div>
                        </div>
                        <div class="mt-2">
                            <%= form_with model:@company ,local:true do |f| %>
                            
                                <h2 class="pt-5">企業名</h2>
                                <%= f.text_field :name %>
                                
                                <h2 class="pt-5">業界</h2>
                                <%= f.select :kind, [["IT", "IT"], ["ゲーム", "ゲーム"], ["医療事務", "医療事務"], ["建築", "建築"], ["CG", "CG"], ["保育", "保育"]], include_blank: "選択して下さい" %>
                                
                                <br/>
                                <%= f.submit "登録" ,class:"mt-5 btn btn-light btn-lg" %>
                            
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>