<div  class=" p-5">
    <div class="container pt-5 pb-5 bg-white circle">
        <div class="text-center text-dark">
            <h1 class="f_h1">マイページ</h1>
            <hr/>
        </div>
        <div>
            <div class="" >
                <div class="text-center text-dark"><h3 class="h_3">ユーザ名</h3></div>
                <div class="text-center text-dark"><h2><%= current_user.name %></h2></div>
                <div class="text-center text-dark mt-5"><h3 class="h_3">ユーザID</h3></div>
                <div class="text-center text-dark"><h2><%= current_user.user_id %></h2></div>
                <div class="text-center text-dark mt-5"><h3 class="h_3">誕生日</h3></div>
                <div class="text-center text-dark"><h2><%= render 'date' %></h2></div>
                <div class="text-center text-dark mt-5"><h3 class="h_3">卒業年度</h3></div>
                <div class="text-center text-dark"><h2><%= current_user.graduate %></h2></div>
                <div class="text-center text-dark mt-5"><h3 class="h_3">主催イベント</h3></div>
                <% if !@events.nil? %>
                    <% @events.each do |f| %>
                        <div class="row mb-5">
                            <div class="col-12">
                                <button type="button" class="btn btn-light border border-dark mb-12 w-100" data-toggle="modal" data-target="#testModal<%=f.id%>">
                                    <div class="hami2"><%= f.title %></div>
                                    <div class="hami2"><%=f.deadline.strftime("%m月%d日").to_s+"締め切り"%></div>
                                    <div class="hami2"><%=f.event%></div>
                                </button>
                            </div>
                        </div>
                                        
                                
            <!-- ボタン・リンククリック後に表示される画面の内容 -->
                        <div class="modal fade" id="testModal<%=f.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" >
                            <div class="modal-dialog center-modal" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4><%=f.title%></h4>
                                    </div>
                                    <div class="modal-body">
                                        <!--<div class="text-left">
                                           <table class="table table-borderless">
                                                <tr>
                                                    <td><%="締切日："+f.deadline.strftime("%m月%d日").to_s %></td>
                                                    <td><%="ジャンル："+f.event %></td>
                                                </tr>
                                            </table>
                                                                    
                                        </div>
                                        <div class="text-left pl-12">
                                            <label><%= f.contents %></label>
                                        </div>-->
                                        <div class="h_3 text-left pl-5"><%= "募集ユーザ:"+f.user.name %></div>
                                        <div class="h_3 text-left pl-5"><%="締切日："+f.deadline.strftime("%m月%d日").to_s %></div>
                                        <div class="h_3 text-left pl-5"><%="ジャンル："+f.event %></div>
                                        <div class="h_3 text-left pl-5"><%="内容:"+f.contents %></div>
                                        <div class="h_3 text-left pl-5"><%="連絡先:"+f.address %></div>
                                        <div class="h_3 text-left pl-5"><%="先着順:"+f.join.to_s %></div>
                                    </div>
                                                        
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                                        <% if current_user.id==f.user_id or current_user.name=="root" %>
                                            <%= link_to '削除', event_path(f.id),class:"btn btn-danger", method: :delete,data: {confirm: "削除しますか？"} %>
                                        <%end%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <%end%>
                <% end %>
                <div class="text-center mt-5"><%= link_to "イベント作成",events_path,class:"btn btn-secondary btn-lg text" %></div>
                <div class="text-center mt-5"><%= link_to "ユーザ編集",edit_user_registration_path,class:"btn btn-secondary btn-lg text" %></div>
                <div class="text-center mt-5"><%= link_to "TOPへ戻る",root_path,class:"btn btn-secondary btn-lg text",data: {"turbolinks" => false} %></div>
            </div>
        </div>
    </div>
</div>
