<div id="app" class=" pt-5">
    <div class="text-center text-light">
        <h1>マイページ</h1>
    </div>
    <div class="main mt-5">
        <div class="stepbox" style="width:30%; opacity:1">
            <div class="text-center text-light"><h3>ユーザ名</h3></div>
            <div class="text-center text-light"><h2><%= current_user.name %></h2></div>
            <div class="text-center text-light mt-5"><h3>ユーザID</h3></div>
            <div class="text-center text-light"><h2><%= current_user.user_id %></h2></div>
            <div class="text-center text-light mt-5"><h3>誕生日</h3></div>
            <div class="text-center text-light"><h2><%= render 'date' %></h2></div>
            <div class="text-center text-light mt-5"><h3>卒業年度</h3></div>
            <div class="text-center text-light"><h2><%= current_user.graduate %></h2></div>
        </div>
        <div class="stepbox pl-5">
            <div class="pb-5"><%= link_to "ユーザ情報編集",edit_user_registration_path ,class:"btn btn-light btn-lg" %></div>
            <div class="pb-5"><%= link_to "マイ企業テーブル", show_company_path,class:"btn btn-light btn-lg" %></div>
            <div class="pb-5"><%= link_to "企業情報登録",new_company_path,class:"btn btn-light btn-lg" %></div>
            <div class="pb-5"><%= link_to "企業情報検索",companies_path,class:"btn btn-light btn-lg" %></div>
            <div class="pb-5"><%= link_to "TOP画面へ戻る",home_about_path,class:"btn btn-light btn-lg" %></div>
        </div>
    </div>
</div>
