<h1>マイページ</h1>

<!--<h2><%= #flash[:notice]%></h2>-->
テスト
<hr/>
<%= #link_to "個人情報編集" mypages_edit_path(user.id) %>
<%= #link_to "企業一覧" mypages_company_path(user.id) %>
<hr/>

<%=  link_to "新規登録",new_company_path %>


<%= link_to "TOP画面へ戻る",home_about_path %>