<!DOCTYPE html>
<html>
  <head>
    <title>Job</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/8b9bdb18a5.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&display=swap" rel="stylesheet">  
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&family=RocknRoll+One&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&family=Noto+Serif+JP:wght@500&family=RocknRoll+One&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&family=Noto+Serif+JP:wght@500&family=RocknRoll+One&family=Yusei+Magic&display=swap" rel="stylesheet">
    <% if Rails.env.production? %>
      <%= render 'layouts/google_analytics' %>
    <% end %>
  </head>

  <body>
    <div id="app" class="pt-3">
      <header class="shadow-sm circle bg-light ml-2 mr-2">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container">
            <%= link_to root_path,class:"navbar-brand mt-0",data: {"turbolinks" => false} do %><%= image_tag 'sangijob.png', :size => '200x50' %><% end %>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
                <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to event_rally_path, class: 'nav-link text-dark'  do %><i class="fas fa-users"></i>イベント<% end %>
                </li>
                <li class="nav-item">
                  <%= link_to questions_path, class: 'nav-link text-dark'  do %><i class="fas fa-question"></i>質問回答<% end %>
                </li>
                <li class="nav-item">
                  <%= link_to show_company_path, class: 'nav-link text-dark'  do %><i class="fas fa-table"></i>マイテーブル<% end %>
                </li>
                <li class="nav-item">
                  <%= link_to companies_path, class: 'nav-link text-dark'  do %><i class="fas fa-building"></i>企業検索<% end %>
                </li>
                <li class="nav-item">
                  <% if (browser.device.mobile?) %>
                    <%= link_to "https://teal-starflower-f7b.notion.site/53a1dd64078044ecba63f4eed719b5d7", class: 'nav-link text-dark'  do %><i class="fas fa-book-open"></i>マニュアル<% end %>
                  <% else %>
                    <%= link_to "https://teal-starflower-f7b.notion.site/b9a4087bbe15418ab02e8839b1b67095", class: 'nav-link text-dark'  do %><i class="fas fa-book-open"></i>マニュアル<% end %>
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to  mypages_path,class: 'nav-link text-dark'  do %><i class="fas fa-user-alt"></i>マイページ<% end  %>
                </li>
                <li class="nav-item">
                  <%= link_to  destroy_user_session_path, method: :delete,class: 'nav-link text-dark'  do %><i class="fas fa-sign-out-alt"></i>ログアウト<% end  %>
                </li>
                <% else %>
                <li class="nav-item">
                  <% if (browser.device.mobile?) %>
                    <%= link_to "https://teal-starflower-f7b.notion.site/53a1dd64078044ecba63f4eed719b5d7", class: 'nav-link text-dark'  do %><i class="fas fa-book-open"></i>マニュアル<% end %>
                  <% else %>
                    <%= link_to "https://teal-starflower-f7b.notion.site/b9a4087bbe15418ab02e8839b1b67095", class: 'nav-link text-dark'  do %><i class="fas fa-book-open"></i>マニュアル<% end %>
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to  new_user_registration_path ,class: 'nav-link text-dark' do %><i class="fas fa-user-plus"></i>新規登録<% end %>
                </li>
                <li class="nav-item">
                  <%= link_to  new_user_session_path,class: 'nav-link text-dark' do %><i class="fas fa-sign-in-alt"></i>ログイン<% end %>
                </li>
              <% end %>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>
      <%= yield %>
      </div>
    <footer class="bg-light text-center text-white">
    <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
          <!-- Facebook -->
          <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998;" href="https://ja-jp.facebook.com/" role="button" ><i class="fab fa-facebook-f"></i></a>
  
          <!-- Twitter -->
          <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee;" href="https://twitter.com/home" role="button" ><i class="fab fa-twitter"></i></a>
  
          <!-- Google -->
          <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39;" href="https://www.google.com/" role="button" ><i class="fab fa-google"></i></a>
  
          <!-- Instagram -->
          <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac;" href="https://www.instagram.com/" role="button" ><i class="fab fa-instagram"></i></a>
  
          <!-- Linkedin -->
          <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca;" href="https://jp.linkedin.com/" role="button" ><i class="fab fa-linkedin-in"></i></a>
          <!-- Github -->
          <a class="btn btn-primary btn-floating m-1" style="background-color: #333333;" href="https://github.com/j19015/job" role="button" ><i class="fab fa-github"></i></a>
        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-white" href="https://www.sangi.ac.jp/">静岡産業技術専門学校</a>
      </div>
      <!-- Copyright -->
    </footer>
  </body>
</html>
